h1{
	color: cyan;
	padding: 10px;
	font-family: monospace;
	font-size: 100px;
	text-align: center;
	text-decoration: underline;
}
.space{
	color: orange;
	font-size: 45px;
	font-weight: bold;
	font-family: Algerian;
}
body{
	background-color:black;
	border: dashed 28px yellow;
}
.first{
	float: left;
	border: solid 1px black;
	border-radius: 40%; margin:10px;
		
}
.big{
	float: right;
	border: solid 1px black;
	border-radius:50%; margin:10px;
}
.hi{
	color:red;
	font-size:32px;
	font-weight: bold;
	font-family:AR Darling;
}
.dinosaur{
	float:left;
	border: solid 1px black;
	border-radius:20%; margin: 3px;
	
}
.Rajasaurus{
	color:white;
	font-size:32px;
	font-weight: bold;
	font-family:Didot;
	
}
